<!doctype html>
<html lang="en" ng-app="ArrayTableApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task 12.3</title>
    <script src="../Libraries/angular.js"></script>
    <script>
        "use strict";
        /**
         * Lesson 12, Classwork, Serhii Yakubovych
         */
        /**
         * ### Задача 1
         * Дано массив items:
         * ```
         * $scope.items = [
         * { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
         * { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
         * { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
         * { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];
         * ```
         * С помощью директивы ng-repeat создайте таблицу , отображающую данные массива.
         *
         * ### Задача 2
         * Используйте таблицу с данными массива items из предыдущей задачи. Реализуйте следующее:
         * * Добавьте на страницу 5 элементов checkbox с именами свойств элементов массива items(name, price и т.д.)
         * * Нажатие на каждый из checkbox скрывает/отображает соответствующее свойство элементов массива items в таблице
         * * Используйте директиву ng-switch
         *
         * ### Задача 3
         * Перепишите код предыдущей задачи с использованием директивы ng-include
         */

        let itemsModel = [
            { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
            { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
            { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
            { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

        angular.module("ArrayTableApp", [])
            .controller("ArrayTableCtrl", function($scope) {
                $scope.items = itemsModel;

                $scope.allowName = true;
                $scope.allowPrice = true;
                $scope.allowCategory = true;
                $scope.allowCount = true;
                $scope.allowTax = true;
                $scope.allowExpiration = true;

                $scope.itemNameUrl = "./task3_files/lesson_12_classwork_task3-name.html";
                $scope.itemPriceUrl = "./task3_files/lesson_12_classwork_task3-price.html";
                $scope.itemCategoryUrl = "./task3_files/lesson_12_classwork_task3-category.html";
                $scope.itemCountUrl = "./task3_files/lesson_12_classwork_task3-count.html";
                $scope.itemTaxUrl = "./task3_files/lesson_12_classwork_task3-tax.html";
                $scope.itemExpirationUrl = "./task3_files/lesson_12_classwork_task3-expiration.html";

                $scope.loadTable = function() {
                    if ($scope.allowName) {
                        $scope.itemNameUrl = "./task3_files/lesson_12_classwork_task3-name.html";
                    } else {
                        $scope.itemNameUrl = "";
                    }

                    if ($scope.allowPrice) {
                        $scope.itemPriceUrl = "./task3_files/lesson_12_classwork_task3-price.html";
                    } else {
                        $scope.itemPriceUrl = "";
                    }

                    if ($scope.allowCategory) {
                        $scope.itemCategoryUrl = "./task3_files/lesson_12_classwork_task3-category.html";
                    } else {
                        $scope.itemCategoryUrl = "";
                    }

                    if ($scope.allowCount) {
                        $scope.itemCountUrl = "./task3_files/lesson_12_classwork_task3-count.html";
                    } else {
                        $scope.itemCountUrl = "";
                    }

                    if ($scope.allowTax) {
                        $scope.itemTaxUrl = "./task3_files/lesson_12_classwork_task3-tax.html";
                    } else {
                        $scope.itemTaxUrl = "";
                    }

                    if ($scope.allowExpiration) {
                        $scope.itemExpirationUrl = "./task3_files/lesson_12_classwork_task3-expiration.html";
                    } else {
                        $scope.itemExpirationUrl = "";
                    }
                };
            });
    </script>
</head>
<body ng-controller="ArrayTableCtrl">
    <table border="1" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Count</th>
            <th>Tax</th>
            <th>Expiration</th>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model=allowName ng-click="loadTable()"></td>
            <td><input type="checkbox" ng-model=allowPrice ng-click="loadTable()"></td>
            <td><input type="checkbox" ng-model=allowCategory ng-click="loadTable()"></td>
            <td><input type="checkbox" ng-model=allowCount ng-click="loadTable()"></td>
            <td><input type="checkbox" ng-model=allowTax ng-click="loadTable()"></td>
            <td><input type="checkbox" ng-model=allowExpiration ng-click="loadTable()"></td>
        </tr>
        <tr ng-repeat="item in items">
            <td><span ng-include="itemNameUrl"></span></td>
            <td><span ng-include="itemPriceUrl"></span></td>
            <td><span ng-include="itemCategoryUrl"></span></td>
            <td><span ng-include="itemCountUrl"></span></td>
            <td><span ng-include="itemTaxUrl"></span></td>
            <td><span ng-include="itemExpirationUrl"></span></td>
        </tr>
    </table>
</body>
</html>