extends base

block append head
    link(rel="stylesheet", href="/css/display_project.css")

block append content
    section.page-content-head
        div.container
            h1.page-title Check out our work
    section.view-project.container
        ul.categories
            li.category(class= (!project.category) ? "active" : "")
                a(href="/home") All
            li.category(class= (project.category === "print") ? "active" : "")
                a(href="/home?category=print") Print
            li.category(class= (project.category === "photography") ? "active" : "")
                a(href="/home?category=photography") Photography
            li.category(class= (project.category === "web") ? "active" : "")
                a(href="/home?category=web") Web
            li.category(class= (project.category === "applications") ? "active" : "")
                a(href="/home?category=applications") Applications
        div.project
            div.project__image
                img(src= project.src)
            div.project__main-info
                h2.project__title= project.title
                div.project__main-info-block
                    span.project__author= project.author
                div.project__main-info-block
                    span.project__date= project.date
            div.project__description= project.description