.send-us-a-message {
  padding: 60px 0;
  background: #131a1d;
  color: #fff;

  .section-head {
    .section-subtitle {
      margin: 0;
      padding: 0;
      color: #fff;
      &::after { display: none; }
    }
    .section-description {
      color: #fff;
    }
  }

  .message-form {
    text-align: center;
    .message-input-block, .message-field { margin-bottom: 30px; }
    .message-input, .message-field {
      padding: 20px;
      border: 2px solid #fff;
      background: transparent;
      &::-webkit-input-placeholder { color: #fff; }
      &::-moz-placeholder { color: #fff; }
      &:-ms-input-placeholder { color: #fff; }
    }

    .input-error-message {
      color: #ff3128;
    }

    .message-input { width: 100%; }
    .message-input + .message-input { margin-left: 30px; }
    .message-field {
      width: 100%;
      height: 220px;
      resize: none;
    }
  }

}