<!DOCTYPE html>
<html lang="en" ng-app="toDoListApp">
<head>
    <meta charset="UTF-8">
    <title>ToDo List (Task2)</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script>
        "use strict";
        /**
         * Lesson 11, Homework, Serhii Yakubovych
         */
        /**
         * ### Задача 1
         * Откройте файл Task/Task.html.Вам необходимо разработать приложение “To do List”.
         * Приложение должно отображать пользователю таблицу с задачами и предоставлять возможность
         * добавлять новые задачи.
         * Приложение должно быть построено по шаблону, который находится в папке Task в файле template.png
         */
        /**
         * ### Задача2
         * Добавьте в предыдущую задачу возможность пользователя редактировать задачи и сохранять результат после
         * редактирования.
         */

        let tasksModel = [
            {
                name: "Купить молоко",
                description: "Сходить на рынок и купить молоко",
                date: "2/18/2015",
                completed: false
            },
            {
                name: "Посмотреть видео урок по AngularJS",
                description: "Досмотреть урок",
                date: "2/18/2015",
                completed: true
            }],
            taskForSaving;

            angular.module("toDoListApp", [])
                .controller("toDoListCtrl", function($scope) {
                    $scope.tasks = tasksModel;
                    $scope.submitAction = "Add";

                    $scope.configureTasksList = function() {
                        if ($scope.submitAction === "Add") {
                            $scope.tasks.push({
                                name: $scope.inputName,
                                description: $scope.inputDescription,
                                date: $scope.inputDate,
                                completed: $scope.inputCompleted
                            });

                            $scope.inputName = $scope.inputDescription = $scope.inputDate = $scope.inputCompleted = "";
                        } else if ($scope.submitAction === "Save") {
                            let taskForSavingIndex = $scope.tasks.indexOf(taskForSaving);
                            if (taskForSavingIndex === -1) {
                                return;
                            }

                            $scope.tasks[taskForSavingIndex] = {
                                name: $scope.inputName,
                                description: $scope.inputDescription,
                                date: $scope.inputDate,
                                completed: $scope.inputCompleted
                            };

                            $scope.submitAction = "Add";
                            $scope.inputName = $scope.inputDescription = $scope.inputDate = $scope.inputCompleted = "";
                        }
                    };

                    $scope.startEditingTask = function(taskToEdit) {
                        $scope.submitAction = "Save";

                        $scope.inputName = taskToEdit.name;
                        $scope.inputDescription = taskToEdit.description;
                        $scope.inputDate = taskToEdit.date;
                        $scope.inputCompleted = taskToEdit.completed;

                        taskForSaving = taskToEdit;
                    };

                    $scope.cancelEditing = function() {
                        $scope.submitAction = "Add";
                        $scope.inputName = $scope.inputDescription = $scope.inputDate = $scope.inputCompleted = "";
                    };
                });
    </script>

</head>
<body ng-controller="toDoListCtrl">

    <div class="container">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr ng-repeat="task in tasks">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.date}}</td>
                <td>{{task.completed ? "Yes" : "No"}}</td>
                <td>
                    <button ng-click="startEditingTask(task)">Edit</button>
                </td>
            </tr>
        </table>

        <div>
            <!-- Форма для добавления новых задач -->
            <form ng-submit="configureTasksList()">
                <div class="form-group">
                    <label for="task-name">Name</label>
                    <input type="text" class="form-control" id="task-name" ng-model="inputName">
                </div>
                <div class="form-group">
                    <label for="task-date">Due Date</label>
                    <input type="text" class="form-control" id="task-date" ng-model="inputDate">
                </div>
                <div class="form-group">
                    <label for="task-description">Description</label>
                    <input type="text" class="form-control" id="task-description" ng-model="inputDescription">
                </div>
                <div class="form-group">
                    <label for="task-completed">Completed</label>
                    <input type="checkbox" id="task-completed" ng-model="inputCompleted">
                </div>
                <input type="submit" value="{{submitAction}}">
                <input type="reset" value="Cancel edition" ng-if="submitAction === 'Save'" ng-click="cancelEditing()">
            </form>
        </div>
    </div>
</body>
</html>
