<div class="team-member col-md-3 col-sm-6">
    <div class="team-member__photo">
        <img ng-src="{{member.photo}}" alt="{{member.name}}">
    </div>
    <div class="team-member__title">
        <div class="team-member__name">{{member.name}}</div>
        <div class="team-member__occupation">{{member.occupation}}</div>
    </div>
    <div class="team-member__description">{{member.description}}</div>
    <div class="team-member__social-blocks clearfix">
        <a class="team-member__social-block_fb" href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="team-member__social-block_tw" href="#">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="team-member__social-block_g" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="team-member__social-block_o" href="#">
            <i class="fa fa-dribbble"></i>
        </a>
    </div>
</div>