html
    head
        title Home page
        link(rel="stylesheet" href="/css/main.css")
    body
        section.page-section
            h1 Items

        section.page-section
            table.items-table
                thead
                    tr
                        th ID
                        th Name
                        th Info
                tbody
                    each row in rows
                        tr
                            td= row.id
                            td= row.name
                            td= row.info

        section.page-section
            a(href='/addItem') Add new item

        section.page-section
            input#item-id(placeholder="Item ID")
            button#remove-item-button Delete Item
            button#edit-item-button Edit Item
        
        script(src="/js/index.js")